/UnityProject/RandomDudes/Assembly-CSharp.csproj
/UnityProject/RandomDudes/Assembly-CSharp-Editor.csproj
/UnityProject/RandomDudes/Assembly-CSharp-Editor-vs.csproj
/UnityProject/RandomDudes/Assembly-CSharp-vs.csproj
/UnityProject/RandomDudes/RandomDudes.sln
/UnityProject/RandomDudes/RandomDudes-csharp.sln
/UnityProject/RandomDudes/RandomDudes-csharp.v11.suo
/UnityProject/builds
/ArtContent
